<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_OcQzx1fw8JLbSj9sbcSmlO6dFr9lAI4</string>
	<key>GCM_SENDER_ID</key>
	<string>552752569147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myride.rd</string>
	<key>PROJECT_ID</key>
	<string>myride-capcana</string>
	<key>STORAGE_BUCKET</key>
	<string>myride-capcana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552752569147:ios:ea5588ba587529e71bf51e</string>
	<key>DATABASE_URL</key>
	<string>https://myride-capcana-default-rtdb.firebaseio.com</string>
</dict>
</plist>